//This file should contain the secret keys used for encrypting/decrypting sensitive information inside cookies 
//IMPORTANT!!:
//You should add "current_dir"/.aes_passsword.js to your gitignore file to avoid exposing the key to the repository
//
module.exports = {
    password: `secret password here`,
    salt: `secret salt here`
}
